<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uestc.fff.information.mapper.ClassListMapper">
    <resultMap id="BaseResultMap" type="com.uestc.fff.information.domain.ClassInfo">
        <id column="Cid" jdbcType="VARCHAR" property="cid" />
        <result column="Sc_id" jdbcType="VARCHAR" property="scId" />
        <result column="Cname" jdbcType="VARCHAR" property="cname" />
        <result column="Cinfo" jdbcType="VARCHAR" property="cinfo" />
    </resultMap>
    <select id="selectBySchool" parameterType="java.lang.String" resultMap="BaseResultMap">
    select *
    from class
    where Sc_id = #{scId,jdbcType=VARCHAR}
    order by Cid
  </select>
</mapper>